<h1>Details</h1>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>IsRented:</strong>
  <%= @book.isRented %>
</p>

<%= link_to '<button type="Back" class="btn btn-default">Back</button>'.html_safe, books_path %>
<%= link_to '<button type="Edit" class="btn btn-default">Edit</button>'.html_safe, edit_book_path(@book) %>